Repository edlowther/minimization: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialize-project, add-new-participant-to-existing-trial

.gitlab-ci.yml:

initialize-project: 
  image: python:latest
  cache:
    paths:
        - ./.cache/pip
  only: 
    changes: 
      - initialize-project.yaml
  variables: 
    GIT_STRATEGY: clone
  before_script: 
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
  script: 
    - git config --global user.name edlowther
    - git config --global user.email 21758142-edlowther@users.noreply.gitlab.com
    - git remote set-url origin https://edlowther:$ACCESS_TOKEN@gitlab.com/edlowther/minimization
    - git checkout -b gitlab
    - python initialize.py
    - if [ -f demo/chart* ] ; then
    -   git rm demo/chart*
    - fi
    - python demo/sensitivity-analysis.py ${CI_COMMIT_SHA:0:8}
    - git status
    - git add demo/sensitivity-analysis.md
    - if [ -f demo/chart* ] ; then
    -   git add demo/chart*
    - fi
    - git commit -m "Update sensitivity analysis charts"
    - git add allocations.csv new-participant-data.yaml
    - git rm initialize-project.yaml
    - git commit -m "Prevent project being initialized more than once"
    - git push origin gitlab

add-new-participant-to-existing-trial:
  image: python:latest
  cache:
    paths:
        - .cache/pip
  only: 
    changes: 
      - new-participant-data.yaml
  variables: 
    GIT_STRATEGY: clone
  before_script: 
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
  script:
    - echo ${CI_COMMIT_SHA:0:8}
    - git remote set-url origin https://edlowther:$ACCESS_TOKEN@gitlab.com/edlowther/minimization
    - git checkout -b gitlab
    - if [ -f chart* ] ; then
    -   git rm chart*
    - fi
    - python main.py ${CI_COMMIT_SHA:0:8}
    - git status
    - git add README.md allocations.csv 
    - if [ -f chart* ] ; then
    -   git add chart*
    - fi
    - git commit -m "Add new trial participant"
    - git push origin gitlab

Prevent project being initialized more than once
  allocations.csv
  initialize-project.yaml
  new-participant-data.yaml
Due: initialize-project, add-new-participant-to-existing-trial

Add new trial participant
  README.md
  allocations.csv
  chart_db06ed8e.png
Due: none

Remove unneeded files
  demo/change-me-to-run.yaml
  demo/new-participant-data.yaml
  developer-guide/README.md
Due: none

Improve docs
  README.md
Due: none

Refactor ci config file
  .gitlab-ci.yml
Due: none

Update new-participant-data.yaml
  new-participant-data.yaml
Due: add-new-participant-to-existing-trial

Fix error in ci/cd yaml config file
  .gitlab-ci.yml
Due: none

Add new trial participant
  README.md
  allocations.csv
  chart_db06ed8e.png
  chart_e37aa242.png
Due: none

Revert "Add new trial participant"
  README.md
  allocations.csv
  chart_db06ed8e.png
  chart_e37aa242.png
Due: none

Revert "Update new-participant-data.yaml"
  new-participant-data.yaml
Due: add-new-participant-to-existing-trial

Reset project
  allocations.csv
  initialize-project.yaml
  new-participant-data.yaml
Due: initialize-project, add-new-participant-to-existing-trial

Prevent init pipeline triggering new-participant pipeline
  .gitlab-ci.yml
Due: none

Improve documentation
  README.md
Due: none

Remove old chart
  chart_db06ed8e.png
Due: none

Update initialize-project.yaml
  initialize-project.yaml
Due: initialize-project

Update sensitivity analysis charts
  demo/chart-89aaa22e.png
  demo/chart-d30df7bf.png
  demo/sensitivity-analysis.md
Due: none

Revert "Prevent project being initialized more than once"
  allocations.csv
  initialize-project.yaml
  new-participant-data.yaml
Due: initialize-project, add-new-participant-to-existing-trial

Revert "Update sensitivity analysis charts"
  demo/chart-89aaa22e.png
  demo/chart-d30df7bf.png
  demo/sensitivity-analysis.md
Due: none

Revert "Update initialize-project.yaml"
  initialize-project.yaml
Due: initialize-project

Update sensitivity analysis charts
  demo/chart-89491f8b.png
  demo/chart-d30df7bf.png
  demo/sensitivity-analysis.md
Due: none

Try new fix for caching pip dependencies
  .gitlab-ci.yml
Due: none

Add new trial participant
  README.md
  allocations.csv
  chart_1c433d75.png
Due: none

Add new trial participant
  README.md
  allocations.csv
  chart_1c433d75.png
  chart_d95c2bc3.png
Due: none

Add new trial participant
  README.md
  chart_d95c2bc3.png
Due: none

Try slimline docker image
  .gitlab-ci.yml
Due: none

Revert to non-slimline docker image
  .gitlab-ci.yml
Due: none

Add new trial participant
  README.md
  allocations.csv
  chart_12242a56.png
Due: none

Reset project
  README.md
  allocations.csv
  chart_12242a56.png
  initialize-project.yaml
  new-participant-data.yaml
Due: initialize-project, add-new-participant-to-existing-trial

Update sensitivity analysis charts
  demo/chart-89491f8b.png
  demo/chart-bbb143ac.png
  demo/sensitivity-analysis.md
Due: none

Add configuration instructions for GitLab
  README.md
Due: none

Improve readability of docs
  README.md
Due: none
